@font-face {
    font-family: Arial;
    src: url(./Font/SVN-Arial\ 2.ttf);
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Code was started here */
body {
    width: 100vw;
    height: 100vh;
    display: flex;
}
/* Left Content */
.LContent {
    width: 20vw;
    height: 100%;
}

.LContent .logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 30%;
    height: 70px;
}
.logo p {
    color: orange;
    font-weight: 1800;
    margin-top: 10px;
    font-family: Arial;
}
.contain  {
    display: flex;
    width: 100%;
    height: 40px;
    margin-top: 20px;
}

.contain i {
    color: silver;
    margin-left: 50px;
}
.contain i:hover {
    color: orange;
}
.contain i.selected {
    color: orange;
}
form {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

form .search {
    padding: 20px;  
    font-size: 16px;
    border-color: white;
    background-color: rgb(235, 235, 235);
}
.ChucNang  {
    display: block;
}

.ChucNang ul {
    display: flex;
}

.ChucNang ul li {
    display: inline-block;
    margin-top:28px;
    margin-left: 10px;
    padding: 5px;
}
.ChucNang ul li a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 500;
    font-family: Arial;
}

/* Right Content */
.RContent {
    width: 80vw;
    height: 100%;
    background-color: rgb(236, 236, 236);
}
.ChucNang ul li a:hover{
    border-color: orange;
    color: orange;
}
.ChucNang ul {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid white;
    transition: border-color 0.3s;
}

.ChucNang ul.selected {
    border-color: orange;
    background-color: orange;
}

.ChucNang ul.selected a {
    color: white;
}

.ChucNang ul.selected i {
    color: white;
}

.ChucNang ul.selected::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 20px;
    background-color: orange;
}
